<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="Beetl Editor"
            extensions="btl"
            icon="icons/logo.jpg"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            class="org.beetl.editors.BeetlEclipseEditor"
            id="org.beetl.editors.BeetlEclipseEditor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="beetl-eclipse-plugin.commands.category"
            name="Sample Category">
      </category>
      <command
            categoryId="beetl-eclipse-plugin.commands.category"
            id="beetl-eclipse-plugin.command.editorToggleCommand"
            name="Sample Command">
      </command>
      <command
      		categoryId="beetl-eclipse-plugin.commands.category"
      		name = "nextStatCommand"
            id="beetl-eclipse-plugin.command.nextStatCommand">
      </command>
       <command
      		categoryId="beetl-eclipse-plugin.commands.category"
      		name = "preStatCommand"
            id="beetl-eclipse-plugin.command.preStatCommand">
      </command>
      
      <command
      		categoryId="beetl-eclipse-plugin.commands.category"
      		name = "anotherPairCommand"
            id="beetl-eclipse-plugin.command.anotherPairCommand">
      </command>
      
   </extension>
   
   
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.beetl.editor.handler.EditorToggleHandler"
            commandId="beetl-eclipse-plugin.command.editorToggleCommand">
      </handler>
   </extension>
     <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.beetl.editor.handler.NextStatHandler"
            commandId="beetl-eclipse-plugin.command.nextStatCommand">
      </handler>
      
      
   </extension>
    <extension
         point="org.eclipse.ui.handlers">
     <handler
            class="org.beetl.editor.handler.PreStatHandler"
            commandId="beetl-eclipse-plugin.command.preStatCommand" >
           
      </handler>
   </extension>
   
     <extension
         point="org.eclipse.ui.handlers">
     <handler
            class="org.beetl.editor.handler.AnotherPairHandler"
            commandId="beetl-eclipse-plugin.command.anotherPairCommand" >           
      </handler>
   </extension>
   
   
   
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="beetl-eclipse-plugin.command.editorToggleCommand"
           contextId="org.eclipse.ui.textEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+4">
      </key>
   </extension>   
   
   
    <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="beetl-eclipse-plugin.command.nextStatCommand"
            contextId="beetl-eclipse-plugin.beetlcontext"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+2">
      </key>
    
   </extension>
   
   
    <extension
         point="org.eclipse.ui.bindings">
      <key
      	
           commandId="beetl-eclipse-plugin.command.preStatCommand"
            contextId="beetl-eclipse-plugin.beetlcontext"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+3">
      </key>    
   </extension>
   
    <extension
         point="org.eclipse.ui.bindings">
      <key
      	
           	commandId="beetl-eclipse-plugin.command.anotherPairCommand"
            contextId="beetl-eclipse-plugin.beetlcontext"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+P">
      </key>    
   </extension>
   
   
   
   
   <extension
         point="org.eclipse.ui.contexts">
      <context
            id="beetl-eclipse-plugin.beetlcontext"
            name="name"
            parentId="org.eclipse.ui.textEditorScope">
      </context>
   </extension>
   
  
   
   

</plugin>
