<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="Beetl Editor"
            extensions="btl"
            icon="icons/logo.jpg"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            class="org.beetl.editors.BeetlEclipseEditor"
            id="org.beetl.editors.BeetlEclipseEditor">
      </editor>
   </extension>

</plugin>
